.img {
    width: 290px;
    height: 200px; 
}
.card {
    opacity: 50px ;
}
/* .background {
    background-image: url("../../Images/gps.jpg");
    width: 100%;
    height: 860px;
    background-size:cover; */